.env
.venv/
/Users/hf/Desktop/HappyFox/firstproject/firstproject/__pycache__
/Users/hf/Desktop/HappyFox/firstproject/simplyfox/slack_utils/__pycache__
/Users/hf/Desktop/HappyFox/firstproject/jarvis_ticket/__pycache__